<section id="newsSection">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="latest_newsarea"> <span>Ultimas Noticias</span>
        <ul id="ticker01" class="news_sticker">
          <?php
          foreach ($ultimasNoticias as $item){
          ?>
            <li>
              <a href="<?=PUBLIC_PATH?>web/noticia/<?=$item->id ?>">
                <img src="<?=PUBLIC_PATH?>files/noticias/<?=$item->imagen?>" alt="<?=$item->titulo?>">
                <?php if (strlen($item->titulo)>20){ echo substr($item->titulo, 0, 20).'...'; }else{ echo $item->titulo;} ?>
              </a>
            </li>
          <?php
        } ?>
        </ul>
        <div class="social_area">
          <ul class="social_nav">
            <li class="facebook"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <li class="flickr"><a href="#"></a></li>
            <li class="pinterest"><a href="#"></a></li>
            <li class="googleplus"><a href="#"></a></li>
            <li class="vimeo"><a href="#"></a></li>
            <li class="youtube"><a href="#"></a></li>
            <li class="mail"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
