<div class="col-lg-4 col-md-4 col-sm-4">
  <aside class="right_content">
    <div class="single_sidebar">
      <h2><span>Posts Populares</span></h2>
      <ul class="spost_nav">
        <?php foreach($listPostsPopulares as $item): ?>
          <li>
            <div class="media wow fadeInDown">
              <a href="<?php echo PUBLIC_PATH.'web/post/'.$item->id ?>/" class="media-left">
                 <?php echo Html::img('../files/posts/'.$item->imagen,'$item->titulo');?>
              </a>
              <div class="media-body">
                <a href="<?php echo PUBLIC_PATH.'web/post/'.$item->id ?>/" class="catg_title">
                  <?=substr($item->titulo, 0, 70).'...' ?>
                </a>
              </div>
            </div>
          </li>
        <?php endforeach ?>
      </ul>
    </div>
    <div class="single_sidebar">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Categorias</a></li>
        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
        <!-- <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li> -->
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="category">
          <ul>
            <?php foreach($listCategoriaspost as $item): ?>
              <li class="cat-item"><a href="<?=PUBLIC_PATH.'web/posts/'.$item->id?>/"><?=$item->nombre?></a></li>
            <?php endforeach ?>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="video">
          <div class="vide_area">
            <iframe width="100%" height="250" src="<?=$video->link?>?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <?php echo Html::img('post_img1.jpg','');?> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <?php echo Html::img('post_img2.jpg','');?> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <?php echo Html::img('post_img1.jpg','');?> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <?php echo Html::img('post_img2.jpg','');?> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="single_sidebar wow fadeInDown">
      <h2><span>Sponsor</span></h2>
      <a class="sideAdd" href="#"><?php echo Html::img('add_img.jpg','');?></a> </div>
    <div class="single_sidebar wow fadeInDown">
      <h2><span>Links</span></h2>
      <ul>
        <?php foreach ($listLinks as $item): ?>
          <li>
            <a href="<?php echo $item->link ?>">
              <?php echo $item->titulo ?>
            </a>
          </li>
        <?php endforeach ?>
      </ul>
    </div>
  </aside>
</div>
