<div class="row">
  <?php View::content()?>
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Categoria</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
        <?php echo Form::openMultipart() ?>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <?php echo Form::text('categoriapost.nombre', array(
              'class'=>"form-control",
              'placeholder'=>"Categoria"
            )) ?>
          </div>
        </div><!-- /.box-body -->
        <?php echo Form::hidden('categoriapost.id') ?>

        <div class="box-footer">
          <?php echo Form::submit('Actualizar', array('class'=>"btn btn-primary")) ?>
        </div>
      <?php echo Form::close() ?>
    </div><!-- /.box -->
  </div><!--/.col (left) -->
</div>
