<div class="box box-info" style="margin-top:12%">
    <div class="box-header with-border">
      <h3 class="box-title">Login</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <?php echo Form::open('admin/login', 'POST', array(
        "class"=>"form-horizontal"
    )) ?>
      <div class="box-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Correo</label>
          <div class="col-sm-10">
            <?php echo Form::text('usuarios.correo', array(
              "type"=>"email",
              "required"=>"true",
              "placeholder"=>"Correo",
              "class"=>"form-control",
            )) ?>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <?php echo Form::text('usuarios.password', array(
              "type"=>"password",
              "required"=>"true",
              "placeholder"=>"Password",
              "class"=>"form-control",
            )) ?>
          </div>
        </div>
        <?php View::content(); ?>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <a href="../">
          <button type="button" class="btn btn-default">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-info pull-right">Entrar</button>
      </div><!-- /.box-footer -->
    <?php echo Form::close() ?>
  </div><!-- /.box -->
