<?php View::content(); ?>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Banners</h3>
    <?php echo Html::link('banner/create', "<i class='fa fa-fw fa-plus-circle'></i>",
    array(
      'class'=>'btn btn-block btn-default btn-add',
      'title'=>'Agregar'
    )) ?>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Link</th>
          <th>Imagen</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($listBanners->items as $item): ?>
          <tr>
            <td><?php echo $item->link ?></td>
            <td><?php echo Html::img("../files/banners/$item->imagen", "$item->imagen", array(
              'height'=>'40',
              'width'=>'200'
            ))?></td>
              <td><?php echo Html::linkAction("update/$item->id/", 'Editar') ?></td>
              <td>
                <?php echo Js::link(
                  "banner/delete/$item->id/",
                  "Eliminar",
                  '¿Está seguro de esta operación?',
                  'b_eliminar'); ?>
              </td>
          </tr>
        <?php endforeach ?>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
