<div class="row">
  <?php View::content()?>
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Banner</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
        <?php echo Form::openMultipart() ?>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputFile">Imagen actual</label><br>
            <?php echo Html::img("../files/banners/$banners->imagen", "$banners->imagen", array(
              'height'=>'90',
              'width'=>'580'
            ))?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Link</label>
            <?php echo Form::text('banners.link', array(
              'class'=>"form-control",
              'placeholder'=>"link"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Imagen (580x90)</label>
            <input type="file" accept="image/jpeg" name="imagen">
          </div>
        </div><!-- /.box-body -->
        <?php echo Form::hidden('banners.id') ?>

        <div class="box-footer">
          <?php echo Form::submit('Actualizar', array('class'=>"btn btn-primary")) ?>
        </div>
      <?php echo Form::close() ?>
    </div><!-- /.box -->
  </div><!--/.col (left) -->
</div>
