<div class="row">
  <?php View::content()?>
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Noticia</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
        <?php echo Form::openMultipart() ?>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Titulo</label>
            <?php echo Form::text('noticias.titulo', array(
              'class'=>"form-control",
              'placeholder'=>"Titulo"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Contenido</label>
            <?php echo Form::textarea('noticias.contenido', array(
              'class'=>"form-control",
              'placeholder'=>"Contenido",
              'rows'=>"7"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Categoria</label>
            <?php echo Form::dbSelect('noticias.categorias_id', NULL, NULL, NULL, array(
              'class'=>"form-control",
              'placeholder'=>"Contenido"
            )
            ) ?>
          </div>
          <div class="checkbox">
            <label>
              <input name="carrusel" type="checkbox"> Agregar al Carrusel?
            </label>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Imagen</label>
            <input type="file" accept="image/jpeg" name="imagen">
          </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
          <?php echo Form::submit('Agregar', array('class'=>"btn btn-primary")) ?>
        </div>
      <?php echo Form::close() ?>
    </div><!-- /.box -->
  </div><!--/.col (left) -->
</div>
