<?php View::content(); ?>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Noticias</h3>
    <?php echo Html::link('noticias/create', "<i class='fa fa-fw fa-plus-circle'></i>",
    array(
      'class'=>'btn btn-block btn-default btn-add',
      'title'=>'Agregar'
    )) ?>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($listNoticias as $item): ?>
          <tr>
            <td><?php echo $item->titulo ?></td>
            <td><?php echo Html::linkAction("update/$item->id/", 'Editar') ?></td>
            <td>
              <?php echo Js::link(
                "noticias/delete/$item->id/",
                "Eliminar",
                '¿Está seguro de esta operación?',
                'b_eliminar'); ?>
            </td>
          </tr>
        <?php endforeach ?>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
