<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="contact_area">
          <h2>Contactanos</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <form action="" method="POST" class="contact_form">
            <input class="form-control" type="text" placeholder="Nombre*">
            <input class="form-control" type="email" placeholder="Email*">
            <textarea class="form-control" cols="30" rows="10" placeholder="Mensaje*"></textarea>
            <input type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </div>

<?php View::partial('web/rightPanel', FALSE, array(
  'listPostsPopulares'=>$listPostsPopulares,
  'listCategoriaspost'=>$listCategoriaspost,
  'listLinks'=>$listLinks,
  'video'=>$video
)); ?>
  </div>
</section>
