<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        <?php foreach($listNoticiasCarrusel as $item): ?>
          <div class="single_iteam">
            <a href="<?= PUBLIC_PATH.'web/noticia/'.$item->id?>/">
              <?php echo Html::img("../files/noticias/$item->imagen",'');?></a>
            <div class="slider_article">
              <h2>
                <a class="slider_tittle" href="<?= PUBLIC_PATH.'web/noticia/'.$item->id?>/">
                  <?= $item->titulo ?>
                </a>
              </h2>
              <p>
                <?= substr($item->contenido, 0, 40).'...' ?>
              </p>
            </div>
          </div>
        <?php endforeach ?>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Ultimos post</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
          <?php foreach($listUltimosPosts->items as $item): ?>
            <li>
              <div class="media">
                <a href="<?php echo PUBLIC_PATH.'web/post/'.$item->id ?>/" class="media-left">
                  <?php echo Html::img('../files/posts/'.$item->imagen,'');?>
                </a>
                <div class="media-body">
                  <a href="<?php echo PUBLIC_PATH.'web/post/'.$item->id ?>/" class="catg_title">
                    <?=substr($item->titulo, 0, 70).'...' ?>
                  </a>
                </div>
              </div>
            </li>
          <?php endforeach ?>
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
        <?php
          $count = 0;
          $float_panel = 'left';
          foreach ($noticias as $item):
          ?>
            <?php if(gettype($item) != 'array' && $item):
            ?>
            <div class="single_post_content_<?=$float_panel?>">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="<?=PUBLIC_PATH?>web/noticia/<?=$item->id ?>" class="featured_img">
                    <img width="445" height="270"
                    src="<?=PUBLIC_PATH.'files/noticias/'.$item->imagen?>">
                    <span class="overlay"></span> </a>
                    <figcaption> <a href="<?=PUBLIC_PATH?>web/noticia/<?=$item->id ?>">
                      <?php
                      if(strlen($item->titulo)>20){
                        echo substr($item->titulo, 0, 20).'...';
                      }else{
                        echo $item->titulo;
                      }
                      ?>
                    </a> </figcaption>
                    <p>
                      <?php
                      if(strlen($item->contenido)>100){
                        echo substr($item->contenido, 0, 100).'...';
                      }else{
                        echo $item->contenido;
                      }
                      ?>
                    </p>
                  </figure>
                </li>
              </ul>
            </div>
            <?php  endif ?>
            <?php if(gettype($item) == 'array'):
            ?>
            <div class="single_post_content_<?=$float_panel?>" style="margin-bottom:40px;">
              <ul class="spost_nav">
                <?php foreach ($item as $item2):?>
                  <li>
                    <div class="media wow fadeInDown">
                      <a href="<?=PUBLIC_PATH?>web/noticia/<?=$item2->id ?>" class="media-left">
                        <img src="<?=PUBLIC_PATH.'files/noticias/'.$item2->imagen?>"
                        alt="<?=$item2->imagen?>">
                      </a>
                      <div class="media-body">
                        <a href="<?=PUBLIC_PATH?>web/noticia/<?=$item2->id ?>" class="catg_title">
                          <?php
                          if(strlen($item2->titulo)>50){
                            echo substr($item2->titulo, 0, 50).'...';
                          }else{
                            echo $item2->titulo;
                          }
                          ?>
                        </a>
                      </div>
                    </div>
                  </li>
                <?php endforeach ?>
              </ul>
            </div>
            <?php endif?>
        <?php
        if($float_panel=='left'){$float_panel='right';}else{$float_panel='left';}
        endforeach?>
      </div>
      </div>
    </div>
    <?php View::partial('web/rightPanel', FALSE, array(
      'listPostsPopulares'=>$listPostsPopulares,
      'listCategoriaspost'=>$listCategoriaspost,
      'listLinks'=>$listLinks,
      'video'=>$video
    )); ?>
  </div>
</section>
