<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_page">
          <ol class="breadcrumb">
            <li><a href="<?= PUBLIC_PATH.'web/' ?>">Inicio</a></li>
            <li><a href="<?= PUBLIC_PATH.'web/noticias/'.$categoria->id ?>/"><?=$categoria->nombre?></a></li>
          </ol>
          <h1><?= $noticia->titulo?></h1>
          <div class="post_commentbox"> <a href="#"><i class="fa fa-user">
          </i>Wpfreeware</a> <span><i class="fa fa-calendar"></i>
            <?= $noticia->created_at?></span>
            <a href="#"><i class="fa fa-tags"></i><?=$categoria->nombre?></a> </div>
          <div class="single_page_content">
            <img class="img-center" src="<?= PUBLIC_PATH.'files/noticias/'.$noticia->imagen ?>" alt="">
            <p><?= $noticia->contenido?></p>
            <!-- <blockquote> <?= $noticia->contenido?> </blockquote> -->
          </div>
          <?php View::partial('web/socialLink', FALSE, array()); ?>
          <div class="related_post">
            <h2>Noticias Relacionadas <i class="fa fa-thumbs-o-up"></i></h2>
            <ul class="spost_nav wow fadeInDown animated">
              <?php foreach ($noticiasRelacionadas as $key => $value):?>
              <li>
                <div class="media"> <a class="media-left" href="<?= PUBLIC_PATH.'web/noticia/'.$value->id ?>/">
                  <img src="<?= PUBLIC_PATH.'files/noticias/'.$value->imagen ?>" alt=""> </a>
                  <div class="media-body">
                     <a class="catg_title" href="<?= PUBLIC_PATH.'web/noticia/'.$value->id ?>/">
                       <?php echo substr($value->titulo, 0, 30).' ...' ?>
                     </a>
                   </div>
                </div>
              </li>
            <?php endforeach?>
            </ul>
          </div>
        </div>
      </div>
    </div>

      <?php View::partial('web/rightPanel', FALSE, array(
        'listPostsPopulares'=>$listPostsPopulares,
        'listCategoriaspost'=>$listCategoriaspost,
        'listLinks'=>$listLinks,
        'video'=>$video
      )); ?>
  </div>
</section>
