<section id="contentSection">
  <div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">
  <div class="left_content">
    <div class="single_post_content">
      <ol class="breadcrumb">
        <li><a href="<?= PUBLIC_PATH.'web/' ?>">Inicio</a></li>
        <li><a href="<?= PUBLIC_PATH.'web/posts/'.$categoria->id ?>/"><?=$categoria->nombre?></a></li>
      </ol>
    <?php
      $count = 0;
      $float_panel = 'left';
      foreach ($posts as $item):
      ?>
        <?php if(gettype($item) != 'array' && $item):
        ?>
        <div class="single_post_content_<?=$float_panel?>">
          <ul class="business_catgnav  wow fadeInDown">
            <li>
              <figure class="bsbig_fig"> <a href="<?=PUBLIC_PATH?>web/post/<?=$item->id ?>" class="featured_img">
                <img width="445" height="297"
                src="<?=PUBLIC_PATH.'files/posts/'.$item->imagen?>">
                <span class="overlay"></span> </a>
                <figcaption> <a href="<?=PUBLIC_PATH?>web/post/<?=$item->id ?>">
                  <?php
                  if(strlen($item->titulo)>25){
                    echo substr($item->titulo, 0, 25).'...';
                  }else{
                    echo $item->titulo;
                  }
                  ?>
                </a> </figcaption>
                <p>
                  <?php
                  if(strlen($item->contenido)>100){
                    echo substr($item->contenido, 0, 100).'...';
                  }else{
                    echo $item->contenido;
                  }
                  ?>
                </p>
              </figure>
            </li>
          </ul>
        </div>
        <?php  endif ?>
        <?php if(gettype($item) == 'array'):
        ?>
        <div class="single_post_content_<?=$float_panel?>" style="margin-bottom:40px;">
          <ul class="spost_nav">
            <?php foreach ($item as $item2):?>
              <li>
                <div class="media wow fadeInDown">
                  <a href="<?=PUBLIC_PATH?>web/post/<?=$item2->id ?>" class="media-left">
                    <img src="<?=PUBLIC_PATH.'files/posts/'.$item2->imagen?>"
                    alt="<?=$item2->imagen?>">
                  </a>
                  <div class="media-body">
                    <a href="<?=PUBLIC_PATH?>web/post/<?=$item2->id ?>" class="catg_title">
                      <?php
                      if(strlen($item2->titulo)>50){
                        echo substr($item2->titulo, 0, 50).'...';
                      }else{
                        echo $item2->titulo;
                      }
                      ?>
                    </a>
                  </div>
                </div>
              </li>
            <?php endforeach ?>
          </ul>
        </div>
        <?php endif?>
    <?php
    if($float_panel=='left'){$float_panel='right';}else{$float_panel='left';}
    endforeach?>
  </div>
  </div>
</div>
<?php View::partial('web/rightPanel', FALSE, array(
  'listPostsPopulares'=>$listPostsPopulares,
  'listCategoriaspost'=>$listCategoriaspost,
  'listLinks'=>$listLinks,
  'video'=>$video
)); ?>
</div>
</section>
