<div class="row">
  <?php View::content()?>
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Post</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
        <?php echo Form::openMultipart() ?>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputFile">Imagen actual</label><br>
            <?php echo Html::img("../files/posts/$post->imagen", "$post->imagen", array(
              'height'=>'150',
              'width'=>'100%'
            ))?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Titulo</label>
            <?php echo Form::text('post.titulo', array(
              'class'=>"form-control",
              'placeholder'=>"Titulo"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Contenido</label>
            <?php echo Form::textarea('post.contenido', array(
              'class'=>"form-control",
              'placeholder'=>"Contenido",
              'rows'=>"7"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Categoria</label>
            <?php echo Form::dbSelect('post.categoriaspost_id', NULL, NULL, NULL, array(
              'class'=>"form-control",
              'placeholder'=>"Contenido"
            )
            ) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Imagen</label>
            <input type="file" accept="image/jpeg" name="imagen">
          </div>
        </div><!-- /.box-body -->
        <?php echo Form::hidden('post.id') ?>

        <div class="box-footer">
          <?php echo Form::submit('Actualizar', array('class'=>"btn btn-primary")) ?>
        </div>
      <?php echo Form::close() ?>
    </div><!-- /.box -->
  </div><!--/.col (left) -->
</div>
