<div class="row">
  <?php View::content()?>
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Video</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
        <?php echo Form::openMultipart() ?>
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Titulo</label>
            <?php echo Form::text('videos.titulo', array(
              'class'=>"form-control",
              'required'=>"true",
              'placeholder'=>"Titulo"
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Link</label>
            <?php echo Form::text('videos.link', array(
              'class'=>"form-control",
              'required'=>"true",
              'placeholder'=>"Link",
              "type"=>'link'
            )) ?>
          </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
          <?php echo Form::submit('Agregar', array('class'=>"btn btn-primary")) ?>
        </div>
      <?php echo Form::close() ?>
    </div><!-- /.box -->
  </div><!--/.col (left) -->
</div>
