<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/ico" href="<?php echo PUBLIC_PATH ?>icono.ico">
    <meta charset="utf-8">
    <title>PanamaSport</title>
  </head>
  <body style="background-repeat: round;
    background-attachment: fixed;
    background-image: url(<?php echo PUBLIC_PATH ?>img/construccion.png);">
  </body>
</html>
