<!DOCTYPE html>
<html>
<head>
<title>Panama Sport Magazine</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/ico" href="<?php echo PUBLIC_PATH ?>icono.ico">
<?php Tag::css('bootstrap.min');?>
<?php Tag::css('font-awesome.min');?>
<?php Tag::css('animate');?>
<?php Tag::css('font');?>
<?php Tag::css('li-scroller');?>
<?php Tag::css('slick');?>
<?php Tag::css('jquery.fancybox');?>
<?php Tag::css('theme');?>
<?php Tag::css('style');?>
<?= Html::includeCss() ?>
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="#">Ayuda</a></li>
              <li><a href="<?=PUBLIC_PATH.'web/contacto/'?>">Contacto</a></li>
            </ul>
          </div>
          <div class="header_top_right">
            <p>
              <?php
                echo $fecha
               ?>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area">
            <a href="index.html" class="logo">
            <?php echo Html::img('logo.png','');?>
            </a></div>
          <div class="add_banner">
            <?php if($banner): ?>
            <a href="<?= $banner->link ?>"  target="_blank" >
              <?php echo Html::img("../files/banners/$banner->imagen","$banner->link",
              array(
                'height'=>'90',
                'width'=>'580'
              ));?>
            </a>
          <?php endif ?>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="<?php if ($url=='web/index') echo 'active';?>">
            <a href="<?php echo PUBLIC_PATH.'web' ?>">
              <span class="fa fa-home desktop-home"></span>
              <span class="mobile-show">Inicio</span>
            </a>
          </li>
          <?php foreach ($listCategorias as $item): ?>
            <li class="<?php if ($categoria->id == $item->id) echo 'active' ?>">
              <a href="<?php echo PUBLIC_PATH ?>web/noticias/<?php echo $item->id ?>/">
                <?php echo $item->nombre ?>
              </a>
            </li>
          <?php endforeach ?>
        </ul>
      </div>
    </nav>
  </section>
  <?php View::partial('web/newsection',FALSE,array('ultimasNoticias'=>$ultimasNoticias)) ?>
  <?php View::content() ?>
  <?php View::partial('web/footer') ?>
</div>
<?php echo Tag::js('jquery.min');?>
<?php echo Tag::js('wow.min');?>
<?php echo Tag::js('bootstrap.min');?>
<?php echo Tag::js('slick.min');?>
<?php echo Tag::js('jquery.li-scroller.1.0');?>
<?php echo Tag::js('jquery.newsTicker.min');?>
<?php echo Tag::js('jquery.fancybox.pack');?>
<?php echo Tag::js('custom');?>
</body>
</html>
