<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2018-2019 <a href="http://panamasport.com">PanamaSport</a>.</strong> All rights reserved.
</footer>
