<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="<?php if ($url=='index') echo 'active';?>">
        <a href="<?php echo PUBLIC_PATH ?>admin/">
          <i class="fa fa-th"></i> <span>Inicio</span>
        </a>
      </li>
      <li class="<?php if ($url=='banner') echo 'active';?>">
        <a  href="<?php echo PUBLIC_PATH ?>banner/">
          <i class="fa fa-th"></i> <span>Banners</span>
        </a>
      </li>
      <li class="treeview <?php if ($url=='noticias' || $url=='categorias') echo 'active';?>">
        <a href="#">
          <i class="fa fa-newspaper-o"></i> <span>Noticias</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<?php if ($url=='noticias') echo 'active';?>">
            <a href="<?php echo PUBLIC_PATH ?>noticias/">
            <i class="fa fa-circle-o"></i> Listado</a></li>
          <li class="<?php if ($url=='categorias') echo 'active';?>">
            <a href="<?php echo PUBLIC_PATH ?>categorias/">
            <i class="fa fa-circle-o"></i> Categorias</a></li>
        </ul>
      </li>
      <li class="treeview <?php if ($url=='posts' || $url=='categoriaspost') echo 'active';?>">
        <a href="#">
          <i class="fa fa-fw fa-list-alt"></i> <span>Posts</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<?php if ($url=='posts') echo 'active';?>">
            <a href="<?php echo PUBLIC_PATH ?>posts/">
              <i class="fa fa-circle-o"></i> Listado</a>
          </li>
          <li class="<?php if ($url=='categoriaspost') echo 'active';?>">
            <a href="<?php echo PUBLIC_PATH ?>categoriaspost/">
            <i class="fa fa-circle-o"></i> Categorias</a>
          </li>
        </ul>
      </li>
      <li class="<?php if ($url=='links') echo 'active';?>">
        <a  href="<?php echo PUBLIC_PATH ?>links/">
          <i class="fa fa-fw fa-link"></i> <span>Links</span>
        </a>
      </li>
      <li class="<?php if ($url=='videos') echo 'active';?>">
        <a  href="<?php echo PUBLIC_PATH ?>videos/">
          <i class="fa fa-fw fa-video-camera"></i> <span>Videos</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
