<!-- Content Header (Page header)
-->

<section class="content-header">
  <h1>
    <?php echo $titulo ?>
    <small><?php echo $subtitulo ?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-th"></i> <?php echo $titulo ?></a></li>
    <li class="active"><?php echo $subtitulo ?></li>
  </ol>
</section>
